---
import "./imprint.scss";
---

<div class="imprint">
    <h2 class="imprint__title">Imprint</h2>
    <div class="imprint__boxes boxes">
        <div class="boxes__item item">
            <h4 class="item__title">Site Operator</h4>
            <p class="item__text">Jérôme Haas</p>
            <p class="item__text">Bodenmatte 16a</p>
            <p class="item__text">5674 Oberrüti</p>
            <p class="item__text">hello@jeromehaas.ch</p>
        </div>
        <div class="boxes__item item">
            <h4 class="item__title">Webmaster</h4>
            <p class="item__text">Jérôme Haas</p>
            <p class="item__text">Bodenmatte 16a</p>
            <p class="item__text">5674 Oberrüti</p>
            <p class="item__text">hello@jeromehaas.ch</p>
        </div>
    </div>
</div>
