---
import "./cookie-banner.scss";
---

<script src="./cookie-banner.js"></script>

<div class="cookie-banner">
    <h3 class="cookie-banner__title">Let's talk about cookies</h3>
    <p class="cookie-banner__text">We just collect our favorite recipes - we don’t need you to worry about cookies. But just in case, we have a marvellous recipe for choco-chip cookies.</p>
    <div class="cookie-banner__buttons buttons">
        <button class="buttons__item button button--light">Ok, thanks</button>
        <button class="buttons__item button button--dark">Show me the recipe</button>
    </div>
</div>
