{
	"env": {
    "browser": true,
     "es2021": true
    },
  "extends": [
		"airbnb",
    "plugin:astro/recommended"
  ],
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
				"quotes": ["error", "single"],
				"semi": ["error", "always"],
				"import/no-unresolved": "off",
				"import/extensions": "off",
				"padded-blocks": "off",
				"consistent-return": "off",
				"indent": [2, "tab", {"ignoredNodes": ["JSXElement"]}],
				"no-tabs": 0,
				"max-len": "off",
				"object-curly-spacing": ["error", "always"],
				"react/jsx-curly-spacing": ["error", "always"],
				"object-curly-newline": "off",
				"no-extra-semi": "off",
				"jsx-a11y/click-events-have-key-events": "off",
				"jsx-a11y/no-static-element-interactions": "off",
				"jsx-a11y/label-has-associated-control": "off",
				"jsx-a11y/control-has-associated-label": "off",
				"no-unused-expressions": "off",
				"arrow-body-style": ["error", "always"],
				"no-param-reassign": "off",
				"template-curly-spacing": "off",
				"quote-props": "off",
				"import/prefer-default-export": "off"
      }
    }
  ]
}
