---
import "./data-privacy.scss";
---

<div class="data-privacy">
    <h2 class="data-privacy__title">Data Privacy</h2>
    <div class="data-privacy__content content">
        <div class="content__item item">
            <h4 class="item__title">Privacy policy</h4>
            <p class="item__text">We attach great importance to the protection of your data and the preservation of your privacy. Below we therefore inform you about the collection and use of personal data when using our website. In handling data, KR Consulting GmbH is guided by the Swiss Data Protection Act (DSG) and the EU General Data Protection Regulation (EU-DSGVO).</p>
        </div>
        <div class="content__item item">
            <h4 class="item__title">Copyright</h4>
            <p class="item__text">The contents of this website are protected by copyright for KR Consulting GmbH. In particular, reproductions, translations, adaptations and storage and processing in other media, including those in electronic form, are protected by copyright. KR Consulting GmbH, as operator of the website, permits the viewing and downloading of all content on its websites exclusively for private, non-commercial use. The content may not be modified and used on other Internet pages or networked computers without the written permission of KR Consulting GmbH. The reproduction of data or information, in particular the use of texts, parts of texts or images, requires prior written consent. For press inquiries and the editorial use of image material, please contact KR Consulting GmbH (see imprint).</p>
        </div>
        <div class="content__item item">
            <h4 class="item__title">Warranty and liability</h4>
            <p class="item__text">KR Consulting GmbH makes every effort to ensure that the information on the website is always up to date. Despite all care, data may have changed in the meantime. Therefore, no liability or guarantee can be assumed for the topicality, correctness and completeness of the information provided. Furthermore, KR Consulting GmbH reserves the right to make changes or additions to the information provided.</p>
        </div>
        <div class="content__item item">
            <h4 class="item__title">References and links</h4>
            <p class="item__text">The same applies to all other websites to which reference is made by means of hyperlinks. KR Consulting GmbH is not responsible for the content of websites reached via such links.</p>
        </div>
    </div>
</div>
