---
import "./about.scss";
---

<div class="about">
    <h2 class="about__title">About</h2>
    <div class="about__content content">
        <p class="content__text">Hi, I'm Jérôme Haas. <br />I’m a passionate web-developer from Lucerne. In my free-time I like to cook. It’s an activity, that frees my mind, gives me time to process things and gives me space to come up with ideas. <br />To be honest, I’m not a very good cook - but I don’t think I have to be. My true passion is to develop websites and web-applications. Actually, I just had to find an idea for an app to develop a new website. For this one, I wanted to try a new JavaScript framework called Astro. <br /> But beside of the main quest to start a new project, maybe this site can also be useful and I can store my favorite recipes and share it with my family and friends. Feel free to browse, share and copy my recipes if you like them.</p>
        <img class="content__image" src="/images/jeromehaas.png" alt="" />
    </div>
</div>
