---
import './header.scss';
---

<header class="header">
		<div class="header__bar">
				<a class="header__logo-link" href="/">
					<h1 class="header__logo">favorite flavor</h1>
					<h5 class="header__logo">a recipe collection</h5>
        </a>
		</div>
		<div class="header__placeholder"></div>
</header>