---
import "./footer.scss";
---

<footer class="footer">
    <div class="footer__inner">
        <div class="footer__logo logo">
            <h1 class="logo__main">favorite flavor</h1>
            <h5 class="logo__sub">a recipe collection</h5>
        </div>
        <div class="footer__links links">
            <a class="links__item" href="/about">About</a>
            <a class="links__item" href="/imprint">Imprint</a>
            <a class="links__item" href="/data-privacy">Data Privacy</a>
        </div>
        <div class="footer__copyright copyrifght">
            <p class="copyright__text">Copyright © 2023</p>
        </div>
    </div>
</footer>
