---
import "./filter-bar.scss";
---

<script src="./filter-bar.js"></script>

<div class="filter-bar">
    <div class="filter-bar__container swiper-wrapper">
        <div class="filter-bar__item swiper-slide" data-category="All"><p class="item__text">All</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Soup"><p class="item__text">Soup</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Salad"><p class="item__text">Salad</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Cheat Meal"><p class="item__text">Cheat Meal</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Low Carb"><p class="item__text">Low Carb</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Vegan"><p class="item__text">Vegan</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Apperetizer"><p class="item__text">Apperetizer</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Dessert"><p class="item__text">Dessert</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Bread"><p class="item__text">Bread</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Italian"><p class="item__text">Italian</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Swiss"><p class="item__text">Swiss</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Favorites"><p class="item__text">Favorites</p></div>
        <div class="filter-bar__item swiper-slide" data-category="Main"><p class="item__text">Main</p></div>
    </div>
</div>
